<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Trivial Chat</title>   
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <style>
   body {
    background-color: #FBCEA1;
    } 
    </style>

</head>  

<body>  
  <img class="logo" src="logo.png">
<div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
       <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
        </div>
       </div>
      <div class="site-mobile-menu-body"></div>
    </div>



      <header class="site-navbar site-navbar-target py-4" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <!--<div class="col-3 ml-auto text-center order-2">
              <div class="site-logo">
                <a href="index.html" class="font-weight-bold text-black">TRIVIA CHAT</a>
              </div>
            </div>-->
            <div class="col-9 order-1 text-left mr-auto">              
              <span class="d-inline-block d-lg-block"><a href="#" class="text-light site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-dark"></span></a></span>
              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li ><a href="./messages.html" class="nav-link">Messages</a></li>
                  <li><a href="./news.html" class="nav-link">News</a></li>
                  <li><a href="./covid-19.html#" class="nav-link">Covid-19</a></li>
                  <li><a href="./jobs.html#" class="nav-link">Jobs</a></li>
                  <li class="active"><a href="./facilities.html#" class="nav-link">Facilities</a></li>
                </ul>
              </nav>
            </div> 
          </div>
        </div>
      </header>
    <!--<div class="hero" style="background-image: url('images/hero_1.jpg');"></div>-->
  

<main>
<div class="container">
<h3 class="pb-4">FACILITIES NEAR YOU</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREV8KvVQ5iOQnoVgzRLMnCNe5JaoZPeiXaZ7cLIFTr96TN2KGBlnFn5uy2tLzCfzVZhXE&usqp=CAU" class="card-img-top" alt="Bakery">
      <div class="card-body">
        <h5 class="card-title">Local Bakery</h5>
        <p class="card-text">There is an operating backery in the neighborhood. Also open for employment. Open from 9AM-11PM everyday of the week!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqq0ErtHeryWJ-lLCyv_wkat9nOxpcQ_5kQw&usqp=CAU" class="card-img-top" alt="Mcdonalds">
      <div class="card-body">
        <h5 class="card-title">Mcdonalds</h5>
        <p class="card-text">McDonalds is also operating and service customers. Not open for employment. Open 24/7!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://assets1.chainstoreage.com/styles/content_sm/s3/2020-09/MainPlace-Mall.jpg?itok=M77TmxsU" class="card-img-top" alt="duhsjjsd">
      <div class="card-body">
        <h5 class="card-title">Shopping Mall</h5>
        <p class="card-text">Shopping Mall with 3 floors and approximately 80 shops. Open everyday of the week from 10AM- 1AM.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://www.papillion.org/ImageRepository/Document?documentID=3687" class="card-img-top" alt="GAY">
      <div class="card-body">
        <h5 class="card-title">Park</h5>
        <p class="card-text">Park opens at 9AM-1AM everyday of the week. There is a 1$ entry fee.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://www.greatschools.org/gk/wp-content/uploads/2014/03/The-school-visit-what-to-look-for-what-to-ask-1-360x180.jpg" class="card-img-top" alt="duhsjjsd">
      <div class="card-body">
        <h5 class="card-title">Primary School</h5>
        <p class="card-text">A Primary school for children up until Grade 7. The school has numerous facilities including a tennis court, football field and olymic sized-pool. School is open on weekdays from 8AM-2PM</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded">
      <img src="https://media.istockphoto.com/photos/empty-gym-picture-id1132006407?k=6&m=1132006407&s=612x612&w=0&h=vOx89bJoTm6tqEMRRZxsmzfdr1jwrmrbE-0yfm7sm74=" class="card-img-top" alt="duhsjjsd">
      <div class="card-body">
        <h5 class="card-title">Gym</h5>
        <p class="card-text">The Gym is only for people that are 18+. Gym opens from 10AM-2AM everyday of the week!</p>
      </div>
    </div>
  </div>
</div>
</div>
</main>

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-text">
      A  platform to reach out to your neighbours and connect with them. We aim to grow together as one community
    </span>
  </div>
</nav>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>

</body>  

</html>  