<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Trivial Chat</title>   
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
   body {
    background-color: #FBA7A1;
    } 

    .button2 {
     top: 8%; left:80%

    }
    </style>

</head>  

<body>  
  <img class="logo" src="logo.png">
<div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
       <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
        </div>
       </div>
      <div class="site-mobile-menu-body"></div>
    </div>



      <header class="site-navbar site-navbar-target py-4" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <!--<div class="col-3 ml-auto text-center order-2">
              <div class="site-logo">
                <a href="index.html" class="font-weight-bold text-black">TRIVIA CHAT</a>
              </div>
            </div>-->
            <div class="col-9 order-1 text-left mr-auto">              
              <span class="d-inline-block d-lg-block"><a href="#" class="text-light site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-dark"></span></a></span>
              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li ><a href="./messages.html" class="nav-link">Messages</a></li>
                  <li><a href="./news.html" class="nav-link">News</a></li>
                  <li><a href="./covid-19.html#" class="nav-link">Covid-19</a></li>
                  <li class="active"><a href="./jobs.html#" class="nav-link">Jobs</a></li>
                  <li><a href="./facilities.html#" class="nav-link">Facilities</a></li>
                </ul>
              </nav>
            </div> 
          </div>
        </div>
      </header>
    <!--<div class="hero" style="background-image: url('images/hero_1.jpg');"></div>-->
  

<main>

<div class="container">
<h4>UNEMPLOYED PEOPLE IN NEED OF JOBS</h4>

<!---------------FORM BUTTON STARTS HERE--------------------->

<button type="button" class="btn btn-info btn-lg float-end" data-toggle="modal" data-target="#myModal">Fill Up Your Form</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Form</h4>
      </div>
      <div class="modal-body">
       
        <form id="form-job" class="form-horizontal" method="POST" action="/jobs" >
          <div class="form-group">
            <label class="control-label col-sm-2 fs-5" for="name">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="name" placeholder="Enter Your Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputOccupation" class="control-label col-sm-5 fs-5">Occupation</label>
            <div class="col-sm-10">
              <input type="text" name="ocupation" class="form-control" id="inputOccupation" placeholder="Enter Your Occupation">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSalary" class="control-label col-sm-6 fs-5">Salary Expected</label>
            <div class="col-sm-10">
            <input type="number" name="salary" class="form-control" id="inputSalary" placeholder="Enter Your Expected Salary">
          </div>
          </div>
          <div class="form-group">
            <label for="inputTelephone" class="control-label col-sm-5 fs-5">Contact Number</label>
            <div class="col-sm-10">
            <input type="number" name="contactNumber" class="form-control" id="inputTelephone" placeholder="Enter Your Contact Number">
          </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" >Submit</button>
      </div>
    </div>
        </form>
      </div>

  </div>
</div>

<!---------------FORM BUTTON ENDS HERE------------------------>

<input class="form-control my-3" id="myInput1" type="text" placeholder="Search..." 
style="width: 200px;">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Occupation</th>
      <th scope="col">Monthly Salary Request</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody id="myTable1">
    <tr>
      <th scope="row">1</th>
      <td>Walt Cooper</td>
      <td>Security Guard (12 Hrs)</td>
      <td>135 USD</td>
      <td>614-805-6763</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ryan Berner</td>
      <td>Gardener and Floor Cleaner</td>
      <td>70 USD</td>
      <td>614-726-8812</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Manpreet Singh</td>
      <td>Driver</td>
      <td>125 USD</td>
      <td>614-112-2783</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jeff Smith</td>
      <td>Personal Trainer</td>
      <td>200 USD</td>
      <td>614-982-8231</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>John Ryans</td>
      <td>Tutor</td>
      <td>250 USD</td>
      <td>614-122-1002</td>
    </tr>
  </tbody>
</table>

<h4 class="pt-5 pb-2">HOUSEHOLDS OFFERING JOBS</h4>

<!---------------FORM BUTTON STARTS HERE--------------------->

<button type="button" class="btn btn-info btn-lg float-end mt-2 mb-3" data-toggle="modal" data-target="#myModal3">Fill Up Your Form</button>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Form</h4>
      </div>
      <div class="modal-body">
       
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-5 fs-5" for="work">Work to be Done</label>
            <div class="col-sm-10">
              <input type="work" class="form-control" id="work" placeholder="Enter the Availble Work">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSalary" class="control-label col-sm-6 fs-5">Salary Available</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSalary" placeholder="Enter the Available Salary">
          </div>
          </div>
          <div class="form-group">
            <label for="inputAddress" class="control-label col-sm-2 fs-5">Address</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your Address">
          </div>
          </div>
          <div class="form-group">
            <label for="inputTelephone" class="control-label col-sm-5 fs-5">Contact Number</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTelephone" placeholder="Enter Your Contact Number">
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<!---------------FORM BUTTON ENDS HERE------------------------>

<input class="form-control my-2" id="myInput2" type="text" placeholder="Search..." style="width: 200px;">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Work to be done</th>
      <th scope="col">Monthly Salary Available</th>
      <th scope="col">Address</th>
      <th scope="col">Contact Number</th>
      
    </tr>
  </thead>
  <tbody id="myTable2">
    <tr>
      <th scope="row">1</th>
      <td>Household Cleaning</td>
      <td>100 USD</td>
      <td>House 19 G-Block</td>
      <td>614-547-5384</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cooking - Various Cuisines</td>
      <td>210 USD</td>
      <td>Corner House at F-Block</td>
      <td>614-647-7698</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Babysitting</td>
      <td>200 USD</td>
      <td>House 2 H-Block</td>
      <td>614-435-3547</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Gardening</td>
      <td>150 USD</td>
      <td>House 18 at F-Block</td>
      <td>614-848-5030</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Fitness Training</td>
      <td>250 USD</td>
      <td>House 3 at G-Block</td>
      <td>614-110-0010</td>
    </tr>
  </tbody>
</table>

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add your Job Requirement</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</main>

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-text">
      A  platform to reach out to your neighbours and connect with them. We aim to grow together as one community
    </span>
  </div>
</nav>
</footer>

<script>
$(document).ready(function(){
  $("#myInput1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable2 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
    <script>
        const jobForm = document.getElementById("form-job")
const tbodyJob = document.getElementById("myTable1");
let output = "";
document.addEventListener("DOMContentLoaded", function(){
    fetch("/getjobs").then(res => res.json()).then(data => {
        data.map((job, index) => {
            output += `
    <tr>
      <th scope="row">${index + 1}</th>
      <td>${job.name}</td>
      <td>${job.ocupation}</td>
      <td>${job.salary} USD</td>
      <td>${job.contactNumber}</td>
    </tr>
            `
        })
        tbodyJob.innerHTML = output;
    }).catch(err => console.log(err))
})
    </script>

</body>  

</html>  
